/* * { box-sizing: border-box; } */

body { 
margin-top: 10rem;
}

.first{
    background-color: red;
    opacity: 0.8;
    width: 300px;
    height: 300px
}

.first:hover{
   
    /* background-color: aqua; */
}




/* .firstone{
    background-color: red;
    width: 280px;
    height: 300px
} */
.second{
    background-color: green;
    opacity: 0.8;
    width: 300px;
    height: 300px
   
}



.third{
    background-color:yellow;
    opacity: 0.8;
    width: 300px;
    height: 300px
   
}



.fourth{
    background-color: blue;
    opacity: 0.8;
    width: 300px;
    height: 300px
  
}



.fifth{
    background-color: orange;
    opacity: 0.8;
    width: 300px;
    height: 300px
}



.sixth{
    background-color: violet;
    opacity: 0.8;
    width: 300px;
    height: 300px
    
}




